body.stdhl #top-bar {
    --stdhl--avatar: url(/img/five.png);
    position: absolute;
    top: 16px;
    width: calc(var(--nav-bar-width) - 16px);
    aspect-ratio: 1/1;
    z-index: 9999;
    background: none;
    cursor: pointer;
    left: 8px;
    backdrop-filter: unset;
    background-image: url(/img/five.png);
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    box-shadow: unset;
    &:after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--stdhl--avatar);
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        opacity: 0;
        transition: 200ms;
    }
    &:hover:after {
        opacity: 1;
    }
}

body.stdhl--nonDiscord {
    #user-settings-button > .drawer-toggle {
        --stdhl--avatar: url(/img/five.png);
        cursor: pointer;
        position: relative;
        &:hover > .drawer-icon { opacity: 0; }
        &:after {
            content: "";
            position: absolute;
            inset: 0;
            aspect-ratio: 1 / 1;
            background-image: var(--stdhl--avatar);
            background-size: cover;
            background-position: center center;
            border-radius: 50%;
            filter: drop-shadow(0 0 0px black);
            opacity: 0;
            z-index: -1;
        }
        &:hover:after {
            opacity: 1;
            filter: drop-shadow(0 0 10px black);
        }
    }
}

.stdhl--ctxBlocker {
    cursor: default;
    position: fixed;
    inset: 0;
    z-index: 10000;
    > .stdhl--ctxMenu {
        position: absolute;
        left: var(--nav-bar-width);
        > .stdhl--ctxItem {
            display: flex;
            gap: 1em;
            align-items: center;
            opacity: 0.5;
            transition: 200ms;
            body.stdhl &.stdhl--homeItem {
                display: none;
            }
            &:hover { opacity: 1; }
            > .stdhl--ctxAvatar {
                width: var(--stdhl--iconSize);
                aspect-ratio: 1/1;
                background-size: cover;
                background-position: center center;
                border-radius: 50%;
                &.stdhl--ctxIcon {
                    aspect-ratio: unset;
                    font-size: calc(var(--stdhl--iconSize)  * 0.75);
                    text-align: center;
                }
            }
            > .sdthl--ctxName {
                flex: 1 1 auto;
            }
        }
    }
}
